<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <logger name="jp.tokuo.sand" level="DEBUG" />
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!-- 環境変数 PROMETHEUS_TARGET_COLLECTOR_LOG_DIR を動作環境ごとに定義する -->
    <file>${TMPDIR}/tokuo-sand.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
