<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ログイン</title>
    <meta content="login" name="page-name">
    <div th:replace="common_elements::header"></div>
</head>
<body>
    <h2>Application</h2>
    <p>SpringBoot Sample Implementation.</p>
    <div role="alert" th:if="${msg != null}">
        <th:block th:text="${msg}"></th:block>
    </div>
    <div role="alert" th:if="${errorMsg != null}">
        <th:block th:text="${errorMsg}"></th:block>
    </div>
    <div id="loginErrorMsg" role="alert"
         th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
        <th:block th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></th:block>
    </div>

    <form method="POST" th:action="@{/form/login}" th:object="${form}">
        <label>Email</label>
        <input class="form-control" id="email" maxlength="255" name="email"
               th:value="${email != null} ? ${email} : ''"
               type="text">
        <label>Password</label>
        <input autocomplete="off" id="password" maxlength="30" name="password"
               type="password">
        <button id="loginBtn" type="submit">ログイン</button>
    </form>
</body>
</html>
